/* General Styling */
body {
    font-family: Arial, sans-serif;
    background-color: lightgray;
    color: darkslategray;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s;
}

/* Header Section */
header {
    background-color: grey;
    color: white;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 24px;
}

header p {
    margin: 5px 0;
}

/* Main Section */
main {
    padding: 20px;
    text-align: center;
}

h1, h2 {
    color: darkslategray;
}

/* Toggle Buttons */
#length-converter-btn,
#temp-converter-btn {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    color: white;
    background-color: teal;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: inline-block;
}

#length-converter-btn:hover,
#temp-converter-btn:hover {
    background-color: darkcyan;
}

/* Converter Form and Results Section */
form {
    margin-bottom: 20px;
    padding: 15px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

#results, #history, #temp-results {
    list-style: none;
    padding: 0;
    text-align: left;
    display: inline-block;
    width: 100%;
    margin: 20px auto;
    text-align: center;  
}

#history li, #temp-results li {
    margin: 5px 0;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Change Background Color Button */
#change-bg {
    margin-top: 20px;
    padding: 10px;
    font-size: 18px;
    background-color: teal;
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

#change-bg:hover {
    background-color: darkcyan;
}

/* Reset Button */
#reset-button {
    padding: 10px;
    background-color: lightgrey;
    color: darkslategray;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

#reset-button:hover {
    background-color: darkslategray;
    color: white;
}

/* Delete Button */
.delete-btn {
    background-color: red;
    color: white;
    font-size: 12px;
    border: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 3px;
}

.delete-btn:hover {
    background-color: darkred;
}

/* Hidden Sections (default) */
.hidden {
    display: none;
}

/* Active Section */
.active {
    display: block;
}
